{% extends 'core/base.html' %}


{% block title %}Person List{% endblock title %}


{% block content %}
    <div class="container">
      <br>
      <h1 class="text-center">Person List</h1>
      <p class="text-center">Clic to see details</p>
      <br>
      
      {% include 'store/list.html' %}
      <br>
      <a class="btn btn-success" href="{% url 'store:addPerson' %}">Add Person</a>
      <a class="btn btn-info" href="{% url 'store:index' %}">Go to Index</a>
    </div>
{% endblock content %}