      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="store">Store</label>
          {{ form.store }}
        </div>

        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" required class="form-control" id="quantity" name="quantity" value="{{form.quantity.value|default:''}}">
        </div>

        <div class="form-group">
          <label for="item">Item</label>
          {{ form.item }}
        </div>
        
        {% if form.errors %}
        {% include 'store/errors.html' %}
        {% endif %}
          
        <button type="submit" class="btn btn-success">Create</button>
        <a class="btn btn-info" href="{% url 'store:index' %}">Go to Index</a>
      </form>